@import "../../node_modules/select2/dist/css/select2.min.css";
@import "../../node_modules/mapbox-gl/dist/mapbox-gl.css";
@import "../../node_modules/datatables.net-bs4/css/dataTables.bootstrap4.min.css";

@import "../../node_modules/admin-lte/plugins/fontawesome-free/css/all.min.css";
@import "../../node_modules/admin-lte/dist/css/adminlte.min.css";

/* Form autocomplete */
.form-autocomplete {
    position: relative;
}

.result {
    background-color: salmon;
    width: 100%;
    list-style: none;
    position: absolute;
    z-index: 10;
    display: none;
}

.result .result-item {
    padding: .5em 1em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.301);
    display: block;
    cursor: pointer;
}